.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #fffce6;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.link-nav {
    width: 60%;
    border-radius: 20px;
    background-color: #d29d48;
    text-align: center;
    color: purple;
    font-size: 20px;
    padding: 12px;
    font-weight: 700;
}

.link-container {
    display: flex;
    gap: 8px;
    font-size: 16px;
    margin-top: -16px;
    font-weight: 600;
}

.profile-img {
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 8px solid wheat;
}

.name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
}

.skill-container {
    background-color: #ECB65F;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
}

.skill-card {
    background-color: bisque;
    padding: 12px;
    width: 50%;
    border-radius: 8px;
}

.skill-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.skill-content {
    margin: 0;
    margin-top: 4px;
    font-style: italic;
}



.exp-container {
    /* background-color: #56a8ff; */
    background-color: #ECB65F;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    display: flex;
    gap: 12px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.exp-card {
    /* background-color: lightblue; */
    background-color: bisque;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
}

.exp-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.exp-content {
    margin: 0;
    margin-top: 4px;
    font-style: italic;
    margin-bottom: 12px;
}

.product-link {
    background-color: #7a5519;
    color: white;
    padding: 4px;
    margin-top: 8px;
    border-radius: 4px;
    transition: linear;
    transition-duration: 100ms;
    font-size: 14px;
    font-weight: 600;
}

.product-link:hover {
    background-color: #3c2a0c;
}

.contact-container {
    font-size: 18px;
    padding: 4px;
    gap: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.contact-text {
    border-radius: 12px;
    background-color: #d29d48;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 4px 10px;
    transition: linear;
    transition-duration: 200ms;
}

.contact-text:hover {
    background-color: #3c2a0c;
    scale: 1.05;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


hr {
    height: 1px;
    background-color: #b9b9b9;
    width: 80%;
}

.nav-a:hover {
    color: #3c2a0c;
    text-shadow: 2px 2px #ffd900;
    transition: all;
    transition-duration: 200ms;
}

.current-link {
    color: #3c2a0c;
    text-shadow: 2px 2px #ffd900;
}